<div class="col-md-12">
    <div class="card card-container">
      <h2>Reset Password</h2>
      <form (ngSubmit)="resetPassword(newPassword.value, confirmPassword.value)" #resetPasswordForm="ngForm" novalidate>
        <div class="form-group">
          <label for="newPassword">New Password</label>
          <input type="password" id="newPassword" class="form-control" ngModel name="newPassword" required #newPassword="ngModel">
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirm Password</label>
          <input type="password" id="confirmPassword" class="form-control" ngModel name="confirmPassword" required #confirmPassword="ngModel">
        </div>
        <button type="submit" class="btn btn-primary btn-block" [disabled]="!resetPasswordForm.valid">Reset Password</button>
      </form>
    </div>
  </div>
  