
.container {
  display: flex;
}
.add-equipment-button-container {
  text-align: right;
 padding: 20px;
}
.filter-wrapper {
  padding: 0;
  display: flex; /* Add this line to make the container flex */
  flex-direction: column; /* Stack items vertically */
  align-items: flex-start; /* Align items to the left */
}

.filter-container {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f9fa;
  max-width: 300px; /* Set a maximum width for the filter container */
}

.filter-label {
  font-weight: bold;
  margin-bottom: 10px;
}

.filter-options {
  margin-bottom: 20px;
  width: 100%;
}

.search-box {
  margin-bottom: 10px;
}

select#category, select#subCategory {
  width: inherit;
}

.category-dropdown, .sub-cat-dropdown {
  width: inherit;
  margin: 10px;
}


.form-check-label {
  display: inline-block;
  margin-bottom: 0;
}

.equipment-wrapper {
  flex: 1;
  padding: 15px;
}

.equipment-list-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.card-row {
  flex: 1;
}

.equipment-card {
  position: relative;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  transition: transform 0.3s ease;
}

.equipment-card:hover {
  transform: translateY(-5px);
}

.equipment-card-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.edit-icon {
  position: absolute;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  width: 24px; /* Adjust the size as needed */
  height: 24px; /* Adjust the size as needed */
}

img {
  width: 24px;
  height: 24px;
}
/* equipment-list.component.scss */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Adjust this value as needed */
}

.modal-content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 80%; /* Adjust the width of the modal content */
  overflow-y: auto; /* Enable scrolling if content overflows */
}

.equipment-card-description {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.equipment-card-price {
  font-size: 16px;
  font-weight: bold;
  color: #007bff;
}

/* Pagination section */
.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-container button {
  margin: 0 10px;
}

.btn-outline-primary {
  color: #007bff;
  border-color: #007bff;
}

.btn-outline-primary:hover {
  background-color: #007bff;
  color: #fff;
}

.btn-outline-primary:disabled {
  color: #999;
  border-color: #999;
  cursor: not-allowed;
}


.btn-success {
  background-color: #007bff;
}

