<div *ngIf="equipment && !showGenerateForm" class="edit-form-container">
  <h2 class="form-title">{{ showAddForm ? 'Add New Equipment' : 'Edit Equipment' }}</h2>
  <form>
    <div *ngIf="showAddForm" class="toggle-container">
      <input type="radio" id="chooseExisting" name="categoryMode" [(ngModel)]="categoryMode" value="existing" checked (change)="onCategoryModeChange()">
      <label for="chooseExisting">Choose Existing Category </label>
      
      <input type="radio" id="addNew" name="categoryMode" [(ngModel)]="categoryMode" value="new" (change)="onCategoryModeChange()">
      <label for="addNew">Add New Category</label>
    </div>
    <div class="form-row">
      <div  class="form-column">
        <div class="form-group">
          <label for="subCategory">Category</label>
          <input *ngIf="!showAddForm || categoryMode === 'new'" [readonly]="!showAddForm" type="text" id="Category" [(ngModel)]="equipment.Category" name="Category"/>
          <select *ngIf="showAddForm && categoryMode === 'existing'" id="category" class="category-dropdown" [(ngModel)]="equipment.Category" name="Category" (ngModelChange)="onCategoryChange()">
            <option value="">Select Category</option>
            <option *ngFor="let category of getCategories()" [ngValue]="category">{{ category }}</option>
          </select>
        </div>
      </div>
      <div class="form-column">
        <div class="form-group">
          <label for="subCategory">Sub Category</label>
          <input *ngIf="!showAddForm || categoryMode === 'new'" type="text" id="subCategory" [(ngModel)]="equipment.Sub_Category" name="subCategory" [readonly]="!showAddForm"/>
          <select *ngIf="showAddForm && categoryMode === 'existing'" id="subCategory" class="sub-cat-dropdown" [(ngModel)]="equipment.Sub_Category" name="subCategory">
            <option value="">Select Subcategory</option>
            <option *ngFor="let subCategory of subCategoriesMap[equipment.Category]" [ngValue]="subCategory">{{ subCategory }}</option>
          </select>
        </div>
      </div>
      <div class="form-column">
      <div class="form-group">
        <label for="size">Size</label>
        <input type="text" id="size" [(ngModel)]="equipment.Size" name="size" [readonly]="!showAddForm"/>
      </div>
    </div>
    </div>
    <div class="form-row">
      <div class="form-column">
        <div class="form-group">
          <label for="reimbursableFuelType">Fuel Type</label>
          <select id="reimbursableFuelType" [(ngModel)]="equipment['Reimbursable Fuel_type (1 diesel, 2 gas, 3 other)']" name="reimbursableFuelType">
            <option value="1">Diesel</option>
            <option value="2">Gas</option>
            <option value="3">Other</option>
          </select>
        </div>
      </div>
      <div class="form-column">
        <!-- <div class="form-group">
          <label for="fuelUnitPrice">Fuel Unit Price</label>
          <input type="number" id="fuelUnitPrice" [(ngModel)]="equipment.Fuel_unit_price" name="fuelUnitPrice" />
        </div> -->
        <div class="form-group">
          <label for="originalPrice">Original Price</label>
          <input type="number" id="originalPrice" [(ngModel)]="equipment.Original_price" name="originalPrice" />
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-column">
        <div class="form-group">
          <label for="salesTax">Sales Tax</label>
          <input type="number" id="salesTax" [(ngModel)]="equipment.Sales_Tax" name="salesTax" />
        </div>
      </div>
      <div class="form-column">
        <div class="form-group">
          <label for="discount">Discount</label>
          <input type="number" id="discount" [(ngModel)]="equipment.Discount" name="discount" />
        </div>
      </div>
    </div>



    <div class="form-row">
      <div class="form-column">
        <div class="form-group">
          <label for="salvageValue">Salvage Value</label>
          <input type="number" id="salvageValue" [(ngModel)]="equipment.Salvage_Value" name="salvageValue" />
        </div>
      </div>
      <div class="form-column">
        <div class="form-group">
          <label for="annualOverhaulLaborHours">Annual Overhaul Labor Hours</label>
          <input type="number" id="annualOverhaulLaborHours" [(ngModel)]="equipment.Annual_Overhaul_Labor_Hours"
            name="annualOverhaulLaborHours" />
        </div>
      </div>
    </div>


    <div class="form-row">
      <div class="form-column">
        <div class="form-group">
          <label for="annualFieldLaborHours">Annual Field Labor Hours</label>
          <input type="number" id="annualFieldLaborHours" [(ngModel)]="equipment.Annual_Field_Labor_Hours"
            name="annualFieldLaborHours" />
        </div>
      </div>
      <div class="form-column">
        <div *ngIf="!showAddForm" class="form-column">
          <div class="form-group">
            <label for="currentMarketYearResaleValue">Current Market Year Resale Value</label>
            <input type="number" id="currentMarketYearResaleValue"
              [(ngModel)]="equipment.Current_Market_Year_Resale_Value" name="currentMarketYearResaleValue" />
          </div>
  
        </div>
      </div>
    </div>



    <div class="form-row">

      <div class="form-column">
        <div class="form-group">
          <label for="costOfANewSetOfTires">Cost of A New Set of Tires</label>
          <input type="number" id="costOfANewSetOfTires" [(ngModel)]="equipment.Cost_of_A_New_Set_of_Tires"
            name="costOfANewSetOfTires" />
        </div>

      </div>
      <div class="form-column">
        <div class="form-group">
          <label for="tireLifeHours">Tire Life Hours</label>
          <input type="number" id="tireLifeHours" [(ngModel)]="equipment.Tire_Life_Hours" name="tireLifeHours" />
        </div>

      </div>
    </div>


    <div class="form-row">

      <div class="form-column">
        <div class="form-group">
          <label for="hourlyWage">Hourly Wage</label>
          <input type="number" id="hourlyWage" [(ngModel)]="equipment.Hourly_Wage" name="hourlyWage" />
        </div>
      </div>
      <div class="form-column">
        <div class="form-group">
          <label for="hourlyLubeCosts">Hourly Lube Costs</label>
          <input type="number" id="hourlyLubeCosts" [(ngModel)]="equipment.Hourly_Lube_Costs" name="hourlyLubeCosts" />
        </div>

      </div>
    </div>
    <div class="form-row">

      <div class="form-column">
        <div class="form-group">
          <label for="adjustmentForFuelCost">Adjustment for Fuel Cost</label>
          <input type="number" id="adjustmentForFuelCost" [(ngModel)]="equipment['Adjustment for fuel cost']"
            name="adjustmentForFuelCost" />
        </div>

      </div>
      <div class="form-column">
        <div class="form-group">
          <label for="horsePower">Horse Power</label>
          <input type="number" id="horsePower" [(ngModel)]="equipment.Horse_power" name="horsePower" />
        </div>
      </div>
    </div>

    <div class="form-row">

      <div class="form-column">
        <div class="form-group">
          <label for="economicLifeInMonths">Economic Life in Months</label>
          <input type="number" id="economicLifeInMonths" [(ngModel)]="equipment.Economic_Life_in_months"
            name="economicLifeInMonths" />
        </div>
      </div>
    </div>


    <div class="form-row">
      <div class="form-column">
        <div class="form-group">
          <label for="monthlyUseHours">Monthly Use Hours</label>
          <input type="number" id="monthlyUseHours" [(ngModel)]="equipment.Monthly_use_hours" name="monthlyUseHours" />
        </div>
      </div>
      <!-- <div class="form-column">
        <div class="form-group">
          <label for="usageRate">Usage Rate</label>
          <input type="number" id="usageRate" [(ngModel)]="equipment.Usage_rate" name="usageRate" />
        </div>
      </div> -->
    </div>

    <div class="form-row">
      <div class="form-column">
        <div class="form-group">
          <label for="initialFreightCost">Initial Freight Cost</label>
          <input type="number" id="initialFreightCost" [(ngModel)]="equipment.Initial_Freight_cost"
            name="initialFreightCost" />
        </div>
      </div>
      <div class="form-column">
        <div class="form-group">
          <label for="annualOverheadRate">Annual Overhead Rate( %  of Original price)</label>
          <input type="number" id="annualOverheadRate" [(ngModel)]="equipment.Annual_Overhead_rate"
            name="annualOverheadRate" />
        </div>
      </div>
    </div>


    <!-- Annual Overhead Rate -->
    <div class="form-row">
      <div class="form-column">
        <div class="form-group">
          <label for="annualOverhaulPartsRate">Annual Overhaul Parts Cost Rate( %  of Original price)</label>
          <input type="number" id="annualOverhaulPartsRate" [(ngModel)]="equipment.Annual_Overhaul_Parts_cost_rate"
            name="annualOverhaulPartsRate" *ngIf="equipment" />
        </div>
      </div>
      <div class="form-column">
        <div class="form-group">
          <label for="annualFieldRepairPartsRate">Annual Field Repair Parts Cost Rate( %  of Original price)</label>
          <input type="number" id="annualFieldRepairPartsRate"
            [(ngModel)]="equipment.Annual_Field_Repair_Parts_and_misc_supply_parts_Cost_rate"
            name="annualFieldRepairPartsRate" *ngIf="equipment" />
        </div>
      </div>
    </div>




    <div class="form-row">
      <div class="form-column">
        <div class="form-group">
          <label for="annualGroundEngagingComponentRate">Annual Ground Engaging Component Rate( %  of Original price)</label>
          <input type="number" id="annualGroundEngagingComponentRate"
            [(ngModel)]="equipment.Annual_Ground_Engaging_Component_rate" name="annualGroundEngagingComponentRate"
            *ngIf="equipment" />
        </div>
      </div>
      <div class="form-column">
        <div class="form-group">
          <label for="costOfCapitalRate">Cost of Capital Rate( %  of Original price)</label>
          <input type="number" id="costOfCapitalRate" [(ngModel)]="equipment.Cost_of_Capital_rate"
            name="costOfCapitalRate" *ngIf="equipment" />
        </div>
      </div>
    </div>


    <div class="form-buttons">
      <button type="button" (click)="onSave()">{{ showAddForm ? 'Add Equipment' : 'Save' }}</button>
      <button type="button" (click)="onCancel()">Cancel</button>
    </div>
  </form>
</div>
<div *ngIf="showGenerateForm" class="edit-form-container">
  <form >
    <div class="generate-form">
      <h2>Generate Next Year Data</h2>
      <div class="form-group">
        <label for="nextYearPriceIncreaseRate">Price Increase Rate (%)</label>
        <input type="number" id="nextYearPriceIncreaseRate" [(ngModel)]="nextYearPriceIncreaseRate" name="nextYearPriceIncreaseRate" />
      </div>
      <div class="form-buttons">
        <button type="button" (click)="onSave()">Generate</button>
        <button type="button" (click)="onCancel()">Cancel</button>
      </div>
    </div>
  
  </form>
</div>

<div *ngIf="exportFormData.length > 0" class="selection-form">
  <h2>Select {{ exportDataType }} To Export</h2>
  <ul>
    <li *ngFor="let item of exportFormData; let i = index">
      <input type="checkbox" [checked]="selectedItems.includes(item)"
      (change)="updateSelectedItems(item, $event)">
      {{ item }}
    </li>
  </ul>
  <div class="form-buttons">
    <button type="button" (click)="onSave()">Export</button>
    <button type="button" (click)="onCancel()">Cancel</button>
  </div>
</div>