<div *ngIf="!dataLoaded">
    <app-loading-spinner  [message]="'Loading data...'"></app-loading-spinner>
  </div>

  <div *ngIf="dataLoaded && !showGenerateForm && currentEquipmentData.length === 0">
    <h2>Model years</h2>
    <ul class="year-list">
      <li *ngFor="let year of equipmentYears">
        <a href="javascript:void(0);" (click)="loadEquipmentData(year)">{{ year }}</a>
      </li>
      <li >
        <a href="javascript:void(0);" (click)="loadEquipmentData('new')">Generate new data</a>
      </li>
      <li >
        <a href="javascript:void(0);" (click)="loadEquipmentData('fuel')">Edit Fuel Costs</a>
      </li>
      <li >
        <a href="javascript:void(0);" (click)="loadEquipmentData('wage')">Edit Hourly Wage</a>
      </li>
    </ul>
  </div>

  <!-- <app-confirmation-dialog
  [message]="confirmationMessage"
></app-confirmation-dialog> -->

  <div *ngIf="fuelCostsForm && showFuelForm && !showGenerateForm" class="fuel-costs-edit-form">
    <h2>Edit Fuel Costs</h2>
    <form [formGroup]="fuelCostsForm">
      <label for="gasoline_price">Gasoline Price:</label>
      <input type="number" id="gasoline_price" formControlName="gasoline_price">
  
      <label for="diesel_price">Diesel Price:</label>
      <input type="number" id="diesel_price" formControlName="diesel_price">
  
      <label for="other">Other:</label>
      <input type="number" id="other" formControlName="other">
  
      <button type="button" (click)="editFuelCosts()">Save Fuel Costs</button>
      <button type="button"  (click)="closeFuelForm()">Cancel</button>
    </form>
  </div>

  <div *ngIf="labourWageForm && showWageForm && !showGenerateForm" class="fuel-costs-edit-form">
    <h2>Edit Labour Wage</h2>
    <form [formGroup]="labourWageForm">
      <label for="hourly_wage">Hourly labour wage:</label>
      <input type="number" id="labourWage" formControlName="hourly_wage">
      
      <button type="button" (click)="editHourlyWage()">Save Wage Costs</button>
      <button type="button"  (click)="closeWageForm()">Cancel</button>
    </form>
  </div>
  <div class="backdrop" *ngIf="fuelCostsForm && !showGenerateForm"></div>
  
<!-- <div *ngIf="currentEquipmentData.length > 0 && dataLoaded && !showGenerateForm">
    <app-equipment-list
      [equipmentList]="currentEquipmentData"
      [modelYear]="selectedYear"
      [isManageEquipment]="true"
    ></app-equipment-list>
  </div> -->
  <router-outlet></router-outlet>

  <div *ngIf="showGenerateForm">
    <app-edit-form [showGenerateForm]="showGenerateForm"
            (saveClicked)="generateNextYearData($event)"
            (cancelClicked)="onCancelEdit()">
    </app-edit-form>
  </div>