<div *ngIf="equipment">
  <h2>Edit Equipment Details</h2>
  <table>
    <tr>
      <td>Category:</td>
      <td><input type="text" [(ngModel)]="equipment.Category"></td>
      <td>Sub Category:</td>
      <td><input type="text" [(ngModel)]="equipment.Sub_Category"></td>
    </tr>
    <tr>
      <td>Size:</td>
      <td><input type="text" [(ngModel)]="equipment.Size"></td>
      <td>Fuel type:</td>
      <td><input type="number" [(ngModel)]="equipment['Reimbursable Fuel_type (1 diesel, 2 gas, 3 other)']"></td>
    </tr>
    <tr>
      <!-- <td>Fuel Type:</td>
      <td><input type="number" [(ngModel)]="equipment.Fuel_type"></td> -->
      <td>Fuel Unit Price:</td>
      <td><input type="number" [(ngModel)]="equipment.Fuel_unit_price"></td>
    </tr>
    <tr>
      <td>Original Price:</td>
      <td><input type="number" [(ngModel)]="equipment.Original_price"></td>
      <td>Sales Tax:</td>
      <td><input type="number" [(ngModel)]="equipment.Sales_Tax"></td>
    </tr>
    <tr>
      <td>Discount:</td>
      <td><input type="number" [(ngModel)]="equipment.Discount"></td>
      <td>Salvage Value:</td>
      <td><input type="number" [(ngModel)]="equipment.Salvage_Value"></td>
    </tr>
    <tr>
      <td>Annual Overhaul Labor Hours:</td>
      <td><input type="number" [(ngModel)]="equipment.Annual_Overhaul_Labor_Hours"></td>
      <td>Annual Field Labor Hours:</td>
      <td><input type="number" [(ngModel)]="equipment.Annual_Field_Labor_Hours"></td>
    </tr>
    <tr>
      <td>Cost of a New Set of Tires:</td>
      <td><input type="number" [(ngModel)]="equipment.Cost_of_A_New_Set_of_Tires"></td>
      <td>Tire Life Hours:</td>
      <td><input type="number" [(ngModel)]="equipment.Tire_Life_Hours"></td>
    </tr>
    <tr>
      <td>Hourly Lube Costs:</td>
      <td><input type="number" [(ngModel)]="equipment.Hourly_Lube_Costs"></td>
      <td>Hourly Wage:</td>
      <td><input type="number" [(ngModel)]="equipment.Hourly_Wage"></td>
    </tr>
    <tr>
      <td>Horsepower:</td>
      <td><input type="number" [(ngModel)]="equipment.Horse_power"></td>
      <td>Economic Life in months:</td>
      <td><input type="number" [(ngModel)]="equipment.Economic_Life_in_months"></td>
    </tr>
    <tr>
      <td>Monthly Use Hours:</td>
      <td><input type="number" [(ngModel)]="equipment.Monthly_use_hours"></td>
      <td>Usage Rate:</td>
      <td><input type="number" [(ngModel)]="equipment.Usage_rate"></td>
    </tr>
    <tr>
      <td>Initial Freight Costs:</td>
      <td><input type="number" [(ngModel)]="equipment.Initial_Freight_cost"></td>
      <td>Annual Overhead Rate:</td>
      <td><input type="number" [(ngModel)]="equipment.Annual_Overhead_rate"></td>
    </tr>
    <tr>
      <td>Annual Overhaul Parts Cost Rate:</td>
      <td><input type="number" [(ngModel)]="equipment.Annual_Overhaul_Parts_cost_rate"></td>
      <td>Annual Field Repair Parts and Misc Supply Parts Cost Rate:</td>
      <td><input type="number" [(ngModel)]="equipment.Annual_Field_Repair_Parts_and_misc_supply_parts_Cost_rate"></td>
    </tr>
    <tr>
      <td>Annual Ground Engaging Component Rate:</td>
      <td><input type="number" [(ngModel)]="equipment.Annual_Ground_Engaging_Component_rate"></td>
      <td>Cost of Facilities Capital Rate:</td>
      <td><input type="number" [(ngModel)]="equipment.Cost_of_Capital_rate"></td>
    </tr>
  </table>

  <div class="center">
    <div class="button-container">
      <button (click)="onCalculateCostsClicked('calculate')">Calculate costs</button>
    </div>
  </div>

  <h2>Calculated Costs</h2>
  <table class="results">
    <tr>
      <td>Current Market Year Resale Value:</td>
      <td>{{ equipment.Current_Market_Year_Resale_Value | number: '1.2-2' }}</td>
    </tr>
    <tr>
      <td>Depreciation Ownership Cost (Monthly):</td>
      <td>{{ equipment.Depreciation_Ownership_cost_Monthly | number: '1.2-2' }}</td>
    </tr>
    <tr>
      <td>Cost of Facilities Capital Ownership Cost (Monthly):</td>
      <td>{{ equipment.Cost_of_Facilities_Capital_Ownership_cost_Monthly | number: '1.2-2' }}</td>
    </tr>
    <tr>
      <td>Overhead Ownership Cost (Monthly):</td>
      <td>{{ equipment.Overhead_Ownership_cost_Monthly | number: '1.2-2' }}</td>
    </tr>
    <tr>
      <td>Overhaul Labor Ownership Cost (Monthly):</td>
      <td>{{ equipment.Overhaul_Labor_Ownership_cost_Monthly | number: '1.2-2' }}</td>
    </tr>
    <tr>
      <td>Overhaul Parts Ownership Cost (Monthly):</td>
      <td>{{ equipment.Overhaul_Parts_Ownership_cost_Monthly | number: '1.2-2' }}</td>
    </tr>
    <tr>
      <td>Total Ownership Cost (Hourly):</td>
      <td>{{ equipment.Total_ownership_cost_hourly | number: '1.2-2' }}</td>
    </tr>
    <tr>
      <td>Field Labor Operating Cost (Hourly):</td>
      <td>{{ equipment.Field_Labor_Operating_cost_Hourly | number: '1.2-2' }}</td>
    </tr>
    <tr>
      <td>Field Parts Operating Cost (Hourly):</td>
      <td>{{ equipment.Field_Parts_Operating_cost_Hourly | number: '1.2-2' }}</td>
    </tr>
    <tr>
      <td>Ground Engaging Component Cost Operating Cost (Hourly):</td>
      <td>{{ equipment.Ground_Engaging_Component_Cost_Operating_cost_Hourly | number: '1.2-2' }}</td>
    </tr>
    <tr>
      <td>Lube Operating Cost (Hourly):</td>
      <td>{{ equipment.Lube_Operating_cost_Hourly | number: '1.2-2' }}</td>
    </tr>
    <tr>
      <td>Fuel by Horse Power Operating Cost (Hourly):</td>
      <td>{{ equipment.Fuel_by_horse_power_Operating_cost_Hourly | number: '1.2-2' }}</td>
    </tr>
    <tr>
      <td>Tire Costs Operating Cost (Hourly):</td>
      <td>{{ equipment.Tire_Costs_Operating_cost_Hourly | number: '1.2-2' }}</td>
    </tr>
    <tr>
      <td>Total Operating Cost:</td>
      <td>{{ equipment.Total_operating_cost | number: '1.2-2' }}</td>
    </tr>
    <tr>
      <td>Total Ownership Cost:</td>
      <td>{{ equipment.Total_ownership_cost_hourly| number: '1.2-2' }}</td>
    </tr>
    <tr>
      <td>Total Cost Recovery:</td>
      <td>{{ equipment.Total_cost_recovery | number: '1.2-2' }}</td>
    </tr>
  </table>
</div>

