<div class="col-md-12">
    <div class="card card-container">
      <h2>Reset Password</h2>
      <form (ngSubmit)="onSubmit()" #forgotPasswordForm="ngForm" novalidate>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" [(ngModel)]="email" name="email" required #emailModel="ngModel">
          <div *ngIf="forgotPasswordForm.submitted && emailModel.errors" class="alert alert-danger">
            <div *ngIf="emailModel.errors['required']">Email is required.</div>
            <div *ngIf="emailModel.errors['email']">Email must be a valid email address.</div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block" [disabled]="!forgotPasswordForm.valid">Send Reset Link</button>
      </form>
    </div>
  </div>
  